<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="./css/base.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>

        <div>
            <v-app-bar
                    fixed
                    dark
            >
                <v-toolbar-title><h3>ROM猎人</h3></v-toolbar-title>
                <v-spacer></v-spacer>
                <div class="text-center">
                    <v-btn text>
                        更新日志
                    </v-btn>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn text v-bind="attrs" v-on="on">
                                游戏目录与相关下载
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item v-for="(item, index) in items" :key="index">
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    <v-btn text>
                        模拟器教程与相关下载
                    </v-btn>


                </div>
            </v-app-bar>
        </div>

        <v-main>
            <v-container>
                <v-card>
                    <v-card-title><h2>{{message.name}}</h2>
                        <v-chip class="ma-2">共{{message.content.length}}个</v-chip>
                        <v-spacer></v-spacer>
                        <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="搜索本目录"
                                single-line
                                hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                            :headers="message.header"
                            :items="message.content"
                            :items-per-page="20"
                            class="elevation-1"
                            :loading="false"
                            :search="search"
                            loading-text="Loading... Please wait"
                    ></v-data-table>

                </v-card>
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                search: '',
                message: [],
                items: [
                    {title: '掌机平台'},
                    {title: '家用机平台'},
                    {title: '街机平台'},
                    {title: '各平台BIOS'},
                ],
            }
        },
        mounted() {
            axios
                .get('./data/psv_dlc.json')
                .then(response => (this.message = response.data))
        },
    })
</script>
</body>
</html>
